@font-face {
  font-family: "Varsity";
  src:url("./varsity/Varsity.ttf");
}

body{
  text-align: center;
  background-image: url(https://fondosmil.com/fondo/65723.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
h1 {
  font-family: "Varsity";
  font-size: 400%;
  color: white;

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #white;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color:Green;
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:white;
}

div.formulario1 {
  border-radius: 5px;
  background-color:transparent;
  padding: 20px;
  width: 25%;
}
label {
  color: white;
}



div.foto {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  width: 25%;
  margin-left: auto;

}


.contenedor {
  position: relative;
  height: 290px;
  width: 290px;
  margin: 50px 20px;
  float: left;
}

.contenedor img {
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}

.contenedor img.foto1:hover {
  opacity: 0;
}

.contenedor img.foto2:hover {
  position: absolute;
  opacity: 0;
}



img.foto1 {
  bottom: 15px;
 left: -17px;
  position:relative;
}
