table {
border: 1px solid black;
border-collapse: collapse;
padding: 5px;
font-size: 1.3em;
}
th {
  width: 25%;
  border: 1px;
  background-color: black;

  color: white;
}


td,th {
  border: 1px solid #000;
  }
