<style media="screen">
body {
background: #E9FEDA;
color: 573006 ;
}
p {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid red;
text-decoration: none;
  }
span > a {
  color:#AA7339;
  font-size:2em;
  font-weight: bold;

}
</style>
