.personales {


}

.container{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: absolute;
  width: 400px;
  left: 100px;
  border-style: solid;
  border-color: #FB00FF #00E8FF #00E8FF #FB00FF;
  border-width: 3px;
  top: 275px;
  background-color: transparent;

  font-size: 30px;
}


img#foto1
